<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Action Overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.css">
    <script src="https://cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <!--TODO: anchor 정리, ejs 파일로 확실히 갈 수 있도록 정리한다.-->
    <div class="nav">
        <div class="logo"><a href="/action" class="f-logo"><img src="/img/logo/logo.png">Story</a></div>
        <ul class="menu">
            <li><a href="/action" class="f-menu active">Action</a></li>
            <li><a href="/history" class="f-menu">History</a></li>
            <li><a href="/explore" class="f-menu">Explore</a></li>
            <li><a href="/setting" class="f-menu">Setting</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="left">
            <div class="left-top">
                <div class="view-mode">
                    <div class="overview"><a href="/action" class="f-basic active">Overview</a></div>
                    <div class="timeline"><a href="/timeline" class="f-basic ">Timeline</a></div>
                </div>
                <a href="#" class="f-basic arg">ARG</a>
                <div class="webui-popover-content">
                    <div class="arg-popover">
                        <!--TODO: 각 기능 구현
                            정렬 기준은 일단 story 이름, 생성 날짜, 수정 날짜의 오름, 내림차순으로 6가지이다.-->
                        <button id="arg01">이름 내림</button>
                        <button id="arg02">이름 오름</button>
                        <button id="arg03">날짜 오름</button>
                        <button id="arg04">날짜 내림</button>
                        <button id="arg05">수정 내림</button>
                        <button id="arg06">수정 오름</button>
                    </div>
                </div>
            </div>
            <div id="story_list" class="story-list" oncontextmenu="return true" ondragstart="return true" onselectstart="return true">
                <!--<div class="story">-->
                    <!--<div class="story-header">-->
                        <!--<div class="story-title"><a href="story.html" class="f-title">Story Title</a></div>-->
                        <!--<a href="#" class="sel-story"><img src="/img/icon/ic_settings_black_24px.svg" border='0'></a>-->
                    <!--</div>-->
                    <!--<div class="memo">-->
                        <!--<a href="#" class="edit f-sub">Edit</a>-->
                        <!--&lt;!&ndash;<textarea class="story-memo" value="Lorem ipsum dolor sit amet." rows="1" cols="74" readonly>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, doloremque.</textarea>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="memo">-->
                        <!--<a href="#" class="edit f-sub">Edit</a>-->
                        <!--<textarea class="story-memo" value="Lorem ipsum dolor sit amet." rows="1" cols="74" readonly>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus pariatur minima quo quod eum nemo praesentium, provident, molestias corrupti maiores impedit velit sint beatae, eos iste deserunt omnis itaque reprehenderit. doloremque.</textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <!--자바코드-->
                <%if(!data){%>
                <div id="no-data"> </div>
                <%}else{%>
                <% for(var i=0; i<data.length; i++) {%>
                <div class="story">
                    <div class="story-header">
                        <div class="book-no" style="display: none"><%=data[i].Book_Title%></div>
                        <div class="story-start-date" style="display: none;"><%=data[i].Story_DateStart.toLocaleString().slice(0, 10)%></div>
                        <div class='story-no' style='display:none'><%= data[i].Story_No %></div>
                        <div class="story-title">
                            <div>
                                <a href="/story/<%=data[i].Story_No%>" class="f-title"><%= data[i].Story_Title%></a>
                            </div>
                        </div>
                        <a class="sel-story"><img src="/img/icon/ic_settings_black_24px.svg" border='0'></a>
                    </div>
                    <% for(var j=0; j<data[i].Story_Memo.length ; j++){%>
                    <div class="memo">
                        <a class="edit f-sub">Edit</a>
                        <div class='story-memo-no' style='display: none'><%=data[i].Story_Memo[j].Story_Memo_No%></div>
                        <textarea class="story-memo" cols="72" readonly><%=data[i].Story_Memo[j].Story_Memo_Text%></textarea>
                    </div>
                    <%}%>
                </div>
                <%}%>
                <%}%>
            </div>
        </div>
        
        <div class="right">
            <div class="aside">
                <!--TODO: 가장 기본적으로 클릭한 div가 표시하는 data의 번호를 불러올 수 있어야 한다.-->
                <!--TODO: data 변경을 animation 사이에 끼워넣는다.-->
                <div class="infor">
                    <!--TODO: 첫화면에는 가장 나중에 작성한 스토리를 표시?-->
                    <div class="story-no-infor" style='display:none'><%=(!data) ? null : data[0].Story_No%></div>
                    <div class="book-name f-subSmall"><%=(data === false) ? null : data[0].Book_Title%></div>
                    <div class="story-name f-empha"><%=(data === false) ? null : data[0].Story_Title%></div>
                    <div class="date f-subSmall"><%=(data === false) ? null : data[0].Story_DateStart.toLocaleString().slice(0, 10)%></div>
                    <hr class="hr-infor">
                    <div class="score">
                        <div class="f-subSmall">인용 (Citation) </div>
                        <div class="history-cite f-subSmall">
                            <span class="cnt-name">history</span>
                            <span class="cnt">14</span>
                            <span class="cite-btn"></span>
                        </div>
                        <div class="page-cite f-subSmall">
                            <span class="cnt-name">page</span>
                            <span class="cnt">14</span>
                            <span class="cite-btn">citation</span>
                        </div>
                    </div>
                    <hr class="hr-infor">
                    <div class="story-setting">
                        <!--TODO AJAX를 통해서 버튼을 설정해주는게 좋을듯, 아니면 미리 내장을 해놓던가-->
                        <!--page를 보러 들어가는 버튼, 제목을 클릭해서도 들어갈 수 있다.-->
                        <!--TODO: anchor 정리-->
                        <button id="story-enter"><a href="/story/<%=(data === false) ? null :data[0].Story_No%>" class="f-basic">Enter into history</a></button>
                        <!--새로운 메모를 작성한다.-->
                        <button id="new-memo-btn" class="f-basic">Make new memo</button>
                        <hr class="hr-infor">
                        <!--story를 끝낸다.-->
                        <button id="done-btn" class="f-basic">Done this story</button>
                        <!--story를 지운다.-->
                        <button id="delete-btn" class="f-basic">Delete this story</button>
                    </div>
                </div>
                <!--새로운 story를 만든다.-->
                <div class="aside-btn">
                    <button id="new-story-btn" class="f-basic">NEW STORY</button>
                </div>
            </div>
            <div class="footer f-subSmall">Company Infor</div>
        </div>
    </div>
    
    <!--스토리 추가하는 팝업부분-->
    <!--TODO: Action에서 스토리 추가하는 부분 구현, 가운데에는 북리스트가 떠서 선택한 북으로 저장, 이부분은 select로 구현 가능할듯-->
    <div class="closeup">

        <!--TODO 북 공개 여부가 스토리 전부의 공개 여부를 결정하므로 대폭 수정해야함-->
        <div class="new-story">
            <input type="text" id="new-story-title" name="Story_Title" placeholder="Story title">
            <!--TODO: ESC나 fade out된 배경을 클릭해도 나가지도록 -->
            <a id="new-story-close"><img src="/img/icon/ic_clear_black_24px.svg"></a>
            <div class="make-new-book">
                <input type="text" id="new-book-title" placeholder="New book title">
                <input type="checkbox" id="new-book-public" style="display: none;">
                <label for="new-book-public" class="pub-label f-sub">
                    <span class="pub">공개</span>
                    <span class="notpub inactive">비공개</span>
                </label>
                <button id="insert-new-book" class="f-basic">추가</button>
            </div>

            <!--여기에 북리스트 추가됨-->
            <div class="new-story-book">
            </div>

            <div class="new-story-footer">
                <input type="checkbox" id="public" name="Story_Public" style="display: none;">
                <label for="public" class="pub-label f-sub">
                    <span class="pub">공개</span>
                    <span class="notpub inactive">비공개</span>
                </label>
                <!--TODO 기본 버튼 이미지 수정 -> 제출 버튼을 꾸밈없이 설정 하게끔-->
                <button id="insert-new-story" class="f-empha">CREATE</button>
            </div>
        </div>

        <!--스토리를 끝내는 부분-->
        <div class='story-done'>
            <div class="f-menu">The Last Page</div>
            <a href='#' id='story-done-close'><img src='/img/icon/ic_clear_black_24px.svg'></a>
            <!--에디터-->
            <div class="textarea"><textarea name="" id="editor2" style="resize: none;"></textarea></div>
            <div class="add-box">
                <div class="add-img" style="display: none;">
                    <input class="upload-name" value="Image 저장" disabled="disabled" style="width: 680px;">
                    <input type="file" name="Page_Image" id="page-img" multiple style="display: none;">
                </div>
                <div class="add-link" style="display: none;"><input type="text" placeholder="URL/Link 저장" id="page-link"></div>
            </div>
            <div class="sub-nav f-sub" style="display: none;">Text를 입력해야 합니다.</div>
            <div class="footer">
                <!--TODO 첨부 누르면 파일 첨부창 보이도록하기-->
                <label class="f-sub" for="page-img">Image</label>
                <label class="f-sub" for="page-link">Link</label>
                <label class="f-sub"><input type="submit" style="display: none;">Submit</label>
            </div>
            <script>
                CKEDITOR.replace('editor2', {
                    height: 350
                });
            </script>
        </div>


        <!--스토리를 지우는 부분-->
        <div class='story-delete'>
            <a href='#' id='story-delete-close'><img src='/img/icon/ic_clear_black_24px.svg'></a>
            <!--TODO: 삭제하는 story의 story name을 받아와야 한다.-->
            <form id="story-delete">
                <div id="del-story-no" style="display: none"><%=(data) ? data[0].Story_No : ''%></div>
                <p class="del-nav">"<span class="f-empha del-name"><%=(data) ? data[0].Story_Title : 'story없음'%></span>"를 입력하세요.</p>
                <input type="text" id="confirm" placeholder="confirm massage">
                <input type="submit">
            </form>
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/closeup.js"></script>
    <script src="/js/slide.js"></script>
    <script src="/js/memo.js"></script>
    <script src="/js/aside.js"></script>
    <script src="/js/arg.js"></script>
    <script src="/js/attachment.js"></script>
    <script>
//        뉴 스토리 버튼 클릭
        $(".aside-btn").click(function () {
            $(".new-story-book").empty();
            $.ajax({
                url:"/list_book",
                type:"post",
                success:function (data) {
                    for(var i=0; i<data.length;i++){
                        $(".new-story-book")
                            .append("<label><input class='new-book' name='Book_No' type='radio' style='display: none;' value="+data[i].Book_No+">"+data[i].Book_Title+"</label>");
                    }
                }
            });
        });
//        새로운 북 삽입
        $("#insert-new-book").click(function () {
            var newbook = {
                Book_Title : $('#new-book-title').val(),
            }

            $.ajax({
                url:"/insert_book",
                type:"post",
                data:newbook,
                success: function (data) {
                    $('.new-story-book').append("<label><input class='new-book' name='Book_No' type='radio' style='display: none;' value="+data+">"+$('#new-book-title').val()+"</label>");

                }
            });
        });
//        새로운 스토리 삽입
//        ajax 예시
        $("#insert-new-story").click(function () {
//            보낼 데이터 변수 작성
            var newstory = {
                Story_Title : $("#new-story-title").val(),
                Book_No : $(":input:radio[name=Book_No]:checked").val(),
                Story_Public : !(!!$("#public").is(":checked"))
            };
            //true 는 공개 false는 비공개

            if(newstory.Story_Title === "") {
                $("#new-story-title").fadeToggle('fast').fadeToggle('fast');
            }else if(newstory.Book_No === undefined) {
                $('.new-story-book').fadeToggle('fast').fadeToggle('fast');
            }else {
//            ajax함수
                $.ajax(
                    {
                    url:"/insert_story",
                    type:"post",
                    data:newstory,
                    success:function (data) {
                        if(data.result === true){
//                            alert('success');
    //                        서버에서 보내준 url로 이동 새로고침을 이런식으로 해주도록
    //                        만약에 form submit을 하게되면 url이 insert_story로 가버려서 이렇게해줌
                            location.replace(data.url);
                        }else{
                            alert('일시적으로 문제가 발생했습니다. 다시 요청해주세요');
    //                        서버에서 보내준 url로 이동
                            location.replace(data.url);
                        }
                    }
                });
            }
        });

        $("#story-delete").submit(function () {
            event.preventDefault();
            var del_story_no={
                Story_No:$('#del-story-no').html()
            }
            $.ajax({
                url:"/delete_story",
                type:"post",
                data:del_story_no,
                success:function (result) {
                    if(result){
                        alert('성공적으로 삭제되었습니다');
                        location.replace('/action');
                    }else{
                        alert('일시적으로 오류가 발생했습니다');
                        location.replace('/action');
                    }
                }
            })
            return false;
        })

        // 공개 비공개 체크
        $('.pub-label').click(function () {
            $(this).find('.pub').toggleClass('inactive');
            $(this).find('.notpub').toggleClass('inactive');
        });

        // book check label
        $(document).on('click', 'label:has(.new-book)', function () {
            for(var i=0; i<$('.new-story-book label').length; i++) {
                if($('.new-story-book label').eq(i).find('.new-book').is(':checked')) {
                    $('.new-story-book label').eq(i).css({
                        'font-weight': '900'
                    });
                }else {
                    $('.new-story-book label').eq(i).css({
                        'font-weight': '400'
                    });
                }
            }
        });

        // story가 없는 경우
        $(document).ready(function () {
            if($('#no-data').length > 0) {
                $('.aside-btn').toggleClass('click-me');
            }
        });

        // marquee 붙이기
        $(document).on('click', '.story', function () {
            for(var i=0; i<$('.story-title div a').length; i++) {
                $('.story-title div:eq('+ i +')').removeClass('marquee');
            }
            if(!$(event.target).is('.edit, .f-title') && !(event.keyCode == 13)) {
                if($(this).find('.story-title div a').width() > 617 ) {
                    $(this).find('.story-title div').toggleClass('marquee');
                }
            }
        });
    </script>

</body>

</html>
