<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Action Overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.css">
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <!--TODO: anchor 정리, ejs 파일로 확실히 갈 수 있도록 정리한다.-->
    <div class="nav">
        <div class="logo"><a href="/action" class="f-logo">HiStory</a></div>
        <ul class="menu">
            <li><a href="/action" class="f-menu active">Action</a></li>
            <li><a href="/history" class="f-menu">History</a></li>
            <li><a href="/explore" class="f-menu">Explore</a></li>
            <li><a href="/setting" class="f-menu">Setting</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="left">
            <div class="left-top">
                <div class="view-mode">
                    <div class="overview"><a href="/action" class="f-basic active">Overview</a></div>
                    <div class="timeline"><a href="/action/timeline" class="f-basic ">Timeline</a></div>
                </div>
                <a href="#" class="f-basic arg">ARG</a>
                <div class="webui-popover-content">
                    <div class="arg-popover">
                        <!--TODO: 각 기능 구현
                            정렬 기준은 일단 story 이름, 생성 날짜, 수정 날짜의 오름, 내림차순으로 6가지이다.-->
                        <button id="arg01">이름 내림</button>
                        <button id="arg02">이름 오름</button>
                        <button id="arg03">날짜 오름</button>
                        <button id="arg04">날짜 내림</button>
                        <button id="arg05">수정 내림</button>
                        <button id="arg06">수정 오름</button>
                    </div>
                </div>
            </div>
            <div id="story_list" class="story-list" oncontextmenu="return ture" ondragstart="return true" onselectstart="return ture">
                <!--<div class="story">-->
                    <!--<div class="story-header">-->
                        <!--<div class="story-title"><a href="story.html" class="f-title">Story Title</a></div>-->
                        <!--<a href="#" class="sel-story"><img src="/img/icon/ic_settings_black_24px.svg" border='0'></a>-->
                    <!--</div>-->
                    <!--<div class="memo">-->
                        <!--<a href="#" class="edit f-sub">Edit</a>-->
                        <!--<textarea class="story-memo" value="Lorem ipsum dolor sit amet." rows="1" cols="74" readonly>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, doloremque.</textarea>-->
                    <!--</div>-->
                    <!--<div class="memo">-->
                        <!--<a href="#" class="edit f-sub">Edit</a>-->
                        <!--<textarea class="story-memo" value="Lorem ipsum dolor sit amet." rows="1" cols="74" readonly>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus pariatur minima quo quod eum nemo praesentium, provident, molestias corrupti maiores impedit velit sint beatae, eos iste deserunt omnis itaque reprehenderit. doloremque.</textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <!--자바코드-->
                <%if(!data){%>
                <!--TODO 데이터 없을때의 메세지, 문구, 동작 디자인해주세요 ^^-->
                <div>데이터 없음</div>
                <%}else{%>
                <% for(var i=0; i<data.length; i++) {%>
                <div class="story">
                    <div class="story-header">
                        <div class="book-no" style="display: none"><%=data[i].Book_Name%></div>
                        <div class="story-start-date" style="display: none;"><%=data[i].Story_DateStart%></div>
                        <div class='story-no' style='display:none'><%= data[i].Story_No %></div>
                        <div class="story-title"><a href="/action/story/<%=data[i].Story_No%>" class="f-title"><%= data[i].Story_Title%></a></div>
                        <!--TODO: 클릭 시 페이지의 view가 상단으로 이동하는 것을 막는다.-->
                        <a href="#" class="sel-story"><img src="/img/icon/ic_settings_black_24px.svg" border='0'></a>
                    </div>
                    <% for(var j=0; j<data[i].Story_Memo.length ; j++){%>
                    <div class="memo">
                        <!--TODO: edit의 위치를 box 상단에 붙인다.-->
                        <a href="#" class="edit f-sub">Edit</a>
                        <div class='story-memo-no' style='display: none'><%=data[i].Story_Memo[j].Story_Memo_No%></div>
                        <!--TODO: memo를 서버에서 불러올 때 textarea를 그 높이에 맞게 조정해준다.-->
                        <div class="story-memo"><%=data[i].Story_Memo[j].Story_Memo_Text%></div>
                    </div>
                    <%}%>
                </div>
                <%}%>
                <%}%>
            </div>
        </div>
        
        <div class="right">
            <div class="aside">
                <!--TODO: 가장 기본적으로 클릭한 div가 표시하는 data의 번호를 불러올 수 있어야 한다.-->
                <!--TODO: data 변경을 animation 사이에 끼워넣는다.-->
                <div class="infor">
                    <div class="story-no-infor" style='display:none'></div>
                    <div class="book-name f-subSmall">Bookname</div>
                    <div class="story-name f-empha">Storyname</div>
                    <div class="date f-subSmall">2017.00.00</div>
                    <hr class="hr-infor">
                    <div class="score">
                        <!--다른 user가 story를 인용한 횟수-->
                        <!--추후에 page infor 아래 그 page를 인용한 page를 보여주도록 한다.-->
                        <div class="score-num citation f-subSmall">Citation
                            <div class="citation-num f-empha">6</div>
                        </div>
                        <!--이 Story의 새로운 소식을 받겠다는 사람 수-->
                        <div class="score-num follow f-subSmall">Follow
                            <div class="follow-num f-empha">8</div>
                        </div>
                        <!--이 story가 다른 유저에게 열람된 횟수-->
                        <div class="score-num view f-subSmall">View
                            <div class="view-num f-empha">670</div>
                        </div>
                    </div>
                    <hr class="hr-infor">
                    <div class="story-setting">
                        <!--TODO AJAX를 통해서 버튼을 설정해주는게 좋을듯, 아니면 미리 내장을 해놓던가-->
                        <!--page를 보러 들어가는 버튼, 제목을 클릭해서도 들어갈 수 있다.-->
                        <!--TODO: anchor 정리-->
                        <button id="story-enter"><a href="/story.html" class="f-basic">Enter</a></button>
                        <!--새로운 메모를 작성한다.-->
                        <button id="new-memo-btn" class="f-basic">NewMemo</button>
                        <!--story를 끝낸다.-->
                        <button id="done-btn" class="f-basic">Done</button>
                        <!--story를 지운다.-->
                        <button id="delete-btn" class="f-basic">Delete</button>    
                    </div>
                </div>
                <!--새로운 story를 만든다.-->
                <div class="aside-btn">
                    <button id="new-story-btn" class="f-basic">NEW STORY</button>
                </div>
            </div>
            <div class="footer f-subSmall">Company Infor</div>
        </div>
    </div>
    
    <!--스토리 추가하는 팝업부분-->
    <!--TODO: Action에서 스토리 추가하는 부분 구현, 가운데에는 북리스트가 떠서 선택한 북으로 저장, 이부분은 select로 구현 가능할듯-->
    <div class="closeup">
        <!--TODO 북 공개 여부가 스토리 전부의 공개 여부를 결정하므로 대폭 수정해야함-->
        <div class="new-story">
            <input type="text" id="new-story-title" name="Story_Title" placeholder="insert TITLE">
            <!--TODO: ESC나 fade out된 배경을 클릭해도 나가지도록 -->
            <a id="new-story-close"><img src="/img/icon/ic_clear_black_24px.svg"></a>
            <!--FIXME 북 추가하는 부분 만듬으로써 디자인이 틀어짐 수정해주시면 감사 ㅠㅠ-->
            <div class="new-book">
                <input type="text" id="new-book-title" placeholder="insert book">
                <input type="checkbox" id="new-book-public">공개여부
                <button id="insert-new-book">새북 추가</button>
            </div>
            <!--여기에 북리스트 추가됨-->
            <div class="new-story-book">
            </div>

            <div class="new-story-footer">
                <label for="public" class="f-subSmall">PUBLIC</label>
                <input type="checkbox" id="public" name="Story_Public">
                <!--TODO 기본 버튼 이미지 수정 -> 제출 버튼을 꾸밈없이 설정 하게끔-->
                <button id="insert-new-story" class="f-empha">SUBMIT</button>
            </div>
        </div>
        <!--스토리를 끝내는 부분-->
        <div class='story-done'>
            
        </div>
        <!--스토리를 지우는 부분-->
        <div class='story-delete'>
            <a href='#' id='story-delete-close'><img src='/img/icon/ic_clear_black_24px.svg'></a>
            <!--TODO: 삭제하는 story의 story name을 받아와야 한다.-->
            <p class="del-nav">type "<span class="f-empha">story name을 삭제합니다.</span>"</p>
            <input type="text" id="confirm" placeholder="confirm massage">
            <input type="submit">
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/closeup.js"></script>
    <script src="/js/slide.js"></script>
    <script src="/js/memo.js"></script>
    <script src="/js/aside.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script id="booktemplate" type="text/x-tmpl">
        <input id="book_no" name="Book_No" type="radio" value=${Book_No}>${Book_Name}
        <br>
    </script>

    <script>
        //TODO: 템플릿 이쁘게 짜기, insert 구현하고, 폼으로 만들어서 radio로 구현
        $(".aside-btn").click(function () {
            $(".new-story-book").empty();
            $.ajax({
                url:"/list_book",
                type:"post",
                success:function (data) {
                    console.log(data);
                    for(var i=0; i<data.length;i++){
                        $(".new-story-book")
                            .append("<input class='new-book' name='Book_No' type='radio' value="+data[i].Book_No+">"+data[i].Book_Name+"<br>");
                    }
                }
            })
        });
        $("#insert-new-book").click(function () {
            var newbook = {
                Book_Name : $('#new-book-title').val(),
            }
            $.ajax({
                url:"/insert_book",
                type:"post",
                data:newbook,
                success: function (data) {
                    console.log(data);
                    $('.new-story-book').append("<input class='new-book' name='Book_No' type='radio' value="+data.Book_No+">"+$('#new-book-title').val()+"<br>");
                }
            })
        })

//      TODO: submit 버튼으로 안하고 작업함으로써 reload를 강제로 해줄것, 그리고 null값 처리도 해줄것
        $("#insert-new-story").click(function () {
            var newstory = {
                Story_Title : $("#new-story-title").val(),
                Book_No : $(":input:radio[name=Book_No]:checked").val(),
                Story_Public : !(!!$("#public").is(":checked"))
            };
            //true 는 공개 false는 비공개
            $.ajax({
                url:"/insert_story",
                type:"post",
                data:newstory,
                success:function (data) {
                    if(data.result === true)
                    {
                        alert('success');
                        location.replace(data.url);

                    }else
                    {
                        alert('일시적으로 문제가 발생했습니다. 다시 요청해주세요');
                        location.replace(data.url);
                    }
                }

            })
        })
    </script>

    <script>
        $('#arg01').click(function () {

        });
        $('#arg02').click(function () {

        });
        $('#arg03').click(function () {

        });
        $('#arg04').click(function () {

        });
        $('#arg05').click(function () {

        });
        $('#arg06').click(function () {

        });


    </script>

</body>

</html>
