<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Action Timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.css">
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <div class="nav">
        <div class="logo"><a href="/action" class="f-logo"><img src="/img/logo/logo.png">Story</a></div>
        <ul class="menu">
            <li><a href="/action" class="f-menu active">Action</a></li>
            <li><a href="/history" class="f-menu">History</a></li>
            <li><a href="/explore" class="f-menu">Explore</a></li>
            <li><a href="/setting" class="f-menu">Setting</a></li>
        </ul>
    </div>

    <div class="container">
        <div id="timeline" class="left">

            <div class="left-top">
                <div class="view-mode">
                    <div class="overview"><a href="/action" class="f-basic ">Overview</a></div>
                    <div class="timeline"><a href="/timeline" class="f-basic active">Timeline</a></div>
                </div>
                <a class="f-basic arg_" style="opacity: 0.01;">ARG</a>
            </div>
            <%if(tldata === null){%>
            <div>데이터 없음</div>
            <%}else{%>
            <% for(var i=0 ; i<tldata.length ; i++){%>
            <% if(i===0 ? true : tldata[i-1].Page_UpdateDate.getDate() !== tldata[i].Page_UpdateDate.getDate()){%>
            <div class="page-list"><%}%>
                <!--날짜가 전 글과 같으면 출력, 아니면 출력안함-->
                <% if(i===0 ? true : tldata[i-1].Page_UpdateDate.getDate() !== tldata[i].Page_UpdateDate.getDate()){%>
                <div class="date f-subSmall"><%=tldata[i].Page_UpdateDate.toLocaleDateString()%></div><%}%>
                <div class="page">
                    <div class="book-title" style="display: none"><%=tldata[i].Book_Title%></div>
                    <div class="story-title-container">
                        <div>
                            <a href="/story/<%=tldata[i].Story_No%>" class="story-title f-empha"><%=tldata[i].Story_Title%></a>
                        </div>
                    </div>
                    <div class="story-date" style="display: none"><%=tldata[i].Story_DateStart.toLocaleDateString()%></div>
                    <div class='story-no' style='display: none'><%=tldata[i].Story_No%></div>
                    <div class="page-no" style="display: none"><%=tldata[i].Page_No%></div>
                    <% if(tldata[i].Imgdata[0] !== undefined) { %>
                    <div class="img-box">
                        <button class="to-left"><img src="/img/icon/ic_keyboard_arrow_left_black_24px.svg"></button>
                        <!--추후에 페이지 수정시 이미지의 Image_No, No가 필요한 상황이 올수도 있다 그때 추가해줄것-->
                        <% for(var j=0; j<tldata[i].Imgdata.length;j++){%>
                        <% if(j===0){%>
                        <img class="active" style="max-height:100%;max-width: 100%" src="<%=tldata[i].Imgdata[j].Image_Path %>">
                        <%}else{%>
                        <img class="hidden" style="max-height:100%;max-width: 100%" src="<%=tldata[i].Imgdata[j].Image_Path %>">
                        <%}%>
                        <%}%>
                        <button class="to-right"><img src="/img/icon/ic_keyboard_arrow_right_black_24px.svg"></button>
                    </div>
                    <%}%>
                    <%-tldata[i].Page_Content%>
                </div>
            <% if(tldata[i+1]==null ? true : tldata[i+1].Page_UpdateDate.getDate() !== tldata[i].Page_UpdateDate.getDate()){%>
            </div><%}%>
            <%}%>
            <%}%>
        </div>

        <div class="right">
            <div class="aside">
                <div class="infor">
                    <div class="book-name f-subSmall">Bookname</div>
                    <div class="story-name f-empha">Storyname</div>
                    <div class="date f-subSmall">2017.00.00</div>
                    <hr class="hr-infor">
                    <div class="score">
                        <div class="f-subSmall">인용 (Citation) </div>
                        <div class="history-cite f-subSmall">
                            <span class="cnt-name">history</span>
                            <span class="cnt">14</span>
                            <span class="cite-btn"></span>
                        </div>
                        <div class="page-cite f-subSmall">
                            <span class="cnt-name">page</span>
                            <span class="cnt">14</span>
                            <span class="cite-btn">citation</span>
                        </div>
                    </div>
                    <hr class="hr-infor">
                    <div class="story-setting">
                        <button id="story-enter"><a href="/story.html" class="f-basic">Enter into history</a></button>
                        <hr class="hr-infor">
                        <button id="done-btn" class="f-basic">Done</button>
                        <button id="delete-btn" class="f-basic">Delete</button>
                    </div>
                </div>
                <div class="aside-btn">
                    <button id="new-story-btn" class="f-basic">NEW STORY</button>
                </div>
            </div>
            <div class="footer f-subSmall">
                백승현 k206104@naver.com <br>
                장정호 jjhh3079@gmail.com <br>
                하동호 dongho9601@gmail.com
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/aside.js"></script>

    <script>
        // marquee 붙이기
        $(document).on('click', '.page', function () {
            for(var i=0; i<$('.story-title-container div a').length; i++) {
                $('.story-title-container div:eq('+ i +')').removeClass('marquee');
            }
            if(!$(event.target).is('img, button')) {
                if($(this).find('.story-title-container div a').width() > 660 ) {
                    $(this).find('.story-title-container div').toggleClass('marquee');
                }
            }
        });

        var page = 0;
        $(window).scroll(function() {
//            console.log($(document).height());
//            console.log($(window).height());
//            console.log($(document).height() - $(window).height());
//            console.log($(window).scrollTop());

            if ($(window).scrollTop() > $(document).height() - $(window).height()-2) {
                var last_page = $(".page-list:last");
                var last_date = new Date(last_page.children(".date").html()).getDate();
                var current_page={page:page};
                page++;
                $.ajax({
                    url:"/timeline_update",
                    type:"post",
                    data:current_page,
                    success:function (results) {
                        if(results!==null) {
                            for (var i = 0; i < results.length; i++) {
                                var append_page='';
                                var updatedate = new Date(results[i].Page_UpdateDate);

                                if ( updatedate.getDate() === last_date || ( (i !== 0) && ( new Date(results[i-1].Page_UpdateDate).getDate() === new Date(results[i].Page_UpdateDate ).getDate()))) {
                                    append_page+="<div class=\"page\">"
                                    append_page+=
                                        "<div class=\"book-title\" style=\"display: none\">"+ results[i].Book_Title +"</div>" +
                                        "<a href=\"/story/"+ results[i].Story_No +"\" class=\"story-title f-empha\">"+ results[i].Story_Title +"</a>" +
                                        "<div class=\"story-date\" style=\"display: none\">"+ results[i].Story_DateStart +"</div>" +
                                        "<div class='story-no' style='display: none'>"+ results[i].Story_No +"</div>" +
                                        "<div class=\"page-no\" style=\"display: none\">"+ results[i].Page_No +"</div>";
//                                    이미지
                                    if(results[i].Imgdata[0] !== undefined){
                                        append_page+=
                                            "<div class=\"img-box\">\n" +
                                            "<button class=\"to-left\"><img src=\"/img/icon/ic_keyboard_arrow_left_black_24px.svg\"></button>\n";
                                        for(var j =0; j<results[i].Imgdata.length ; j++){
                                            if(j===0){
                                                append_page+="<img class=\"active\" style=\"max-height:100%;max-width: 100%\" src=\" " + results[i].Imgdata[j].Image_Path + "\">";
                                            }else {
                                                append_page+="<img class=\"hidden\" style=\"max-height:100%;max-width: 100%\" src=\" " + results[i].Imgdata[j].Image_Path + "\">";
                                            }
                                        }
                                        append_page+="<button class=\"to-right\"><img src=\"/img/icon/ic_keyboard_arrow_right_black_24px.svg\"></button>" +
                                            "</div>"
                                    }
                                    if(results[i].Page_Link !== null){
                                        append_page+=
                                            "<div class=\"link-box\">\n" +
                                            "<span class=\"f-empha\">link title</span>\n" +
                                            "<span>short imformation</span>\n" +
                                            "<span class=\"f-subSmall\">"+ results[i].Page_Link +"</span>\n" +
                                            "</div>"
                                    }
                                    append_page+=results[i].Page_Content;
                                    append_page+="</div>";
                                    $(".page-list:last").append(append_page);
                                }else{
                                    var time= new Date(results[i].Page_UpdateDate).toLocaleDateString().split('.');
                                    var date= time[0].replace(" ","") + "-" + time[1].replace(" ","") + "-" + time[2].replace(" ","");
                                    append_page+="<div class=\"page-list\">"
                                    append_page+="<div class=\"date f-subSmall\">"+ date +"</div>"
                                    append_page+="<div class=\"page\">"
                                    append_page+=
                                        "<div class=\"book-title\" style=\"display: none\">"+ results[i].Book_Title +"</div>" +
                                        "<a href=\"/story/"+ results[i].Story_No +"\" class=\"story-title f-empha\">"+ results[i].Story_Title +"</a>" +
                                        "<div class=\"story-date\" style=\"display: none\">"+ results[i].Story_DateStart +"</div>" +
                                        "<div class='story-no' style='display: none'>"+results[i].Story_No+"</div>" +
                                        "<div class=\"page-no\" style=\"display: none\">"+results[i].Page_No+"</div>";
//                                    이미지
                                    if(results[i].Imgdata[0] !== undefined){
                                        append_page+=
                                            "<div class=\"img-box\">\n" +
                                            "<button class=\"to-left\"><img src=\"/img/icon/ic_keyboard_arrow_left_black_24px.svg\"></button>\n";
                                        for(var j =0; j<results[i].Imgdata.length ; j++){
                                            if(j===0){
                                                append_page+="<img class=\"active\" style=\"max-height:100%;max-width: 100%\" src=\" " + results[i].Imgdata[j].Image_Path + "\">";
                                            }else {
                                                append_page+="<img class=\"hidden\" style=\"max-height:100%;max-width: 100%\" src=\" " + results[i].Imgdata[j].Image_Path + "\">";
                                            }
                                        }
                                        append_page+="<button class=\"to-right\"><img src=\"/img/icon/ic_keyboard_arrow_right_black_24px.svg\"></button>" +
                                            "</div>"
                                    }
                                    append_page+=results[i].Page_Content;
                                    append_page+="</div>";
                                    append_page+="</div>";
                                    $('#timeline').append(append_page);
                                }
                            }
                        }
                        }
                })
            }
        });
//        window.onscroll = function(ev) {
//            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
//                alert("you're at the bottom of the page");
//            }
//        };
    </script>
    </body>


</body>

</html>