<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>History</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/base.css">
    </head>

    <body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

        <div class="nav">
            <div class="logo"><a href="/action" class="f-logo"><img src="/img/logo/logo.png">Story</a></div>
            <ul class="menu">
                <li><a href="/action" class="f-menu">Action</a></li>
                <li><a href="/history" class="f-menu active">History</a></li>
                <li><a href="/explore" class="f-menu">Explore</a></li>
                <li><a href="/setting" class="f-menu">Setting</a></li>
            </ul>
        </div>

        <div id="history-tool">
            <div class="title-search">
                <input type="text">
            </div>
            <div class="title-search-enter">
                <img src="/img/icon/ic_search_black_24px.svg">
            </div>
            <div class="add">
                <button class="add-btn f-empha">NEW BOOK</button>
            </div>
        </div>

        <div class="book-list">
            <div class="a-book profile"></div>
            <%if(!historydata){%>
            <!--데이터가 없다면-->
            <%}else{%>
            <% for(var i=0;i<historydata.length;i++){%>
            <div class="a-book">
                <div class="book-slide now-inside">
                    <div class="book-setting book-item">
                        <div class="book-header">
                            <div class="book-title f-title">Setting</div>
                            <div>
                                <a href="#" class="go-inside"><img src="/img/icon/ic_clear_black_24px.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modi-no" style="display: none">
                            <input class="edit-book-no" value="<%=historydata[i].Book_No%>" disabled>
                        </div>
                        <div class="modi-title">
                            <input class="edit-book-title" type="text" placeholder="Book Title" value="<%=historydata[i].Book_Title%>">
                        </div>
                        <div class="modi-pub">
                            <label class="f-sub"><input type="checkbox" style="display: none;">공개</label>
                        </div>
                        <div class="insert-btn">
                            <input type="button" class="edit-book-btn f-sub" value="save">
                            <input type="button" class="f-sub can" value="cancel">
                        </div>
                        <br>
                        <div class="delete">
                            <label><input type="button" style="display: none;">
                                <span class="typ f-sub" style="color: rgba(200, 140, 140, 1)">삭제</span>
                                <span class="del-nav f-subSmall" style="font-size: .9rem; display: none;">history를 모두 삭제해야 합니다.</span>
                            </label>
                        </div>

                    </div>
                    <div class="book-inside book-item">
                        <div class="book-header">
                            <div class="book-title-container">
                                <div>
                                    <span class="book-title f-title"><%=historydata[i].Book_Title%></span>
                                </div>
                            </div>
                            <div class="active">
                                <a href="#" class="go-setting"><img src="/img/icon/ic_settings_black_24px.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="btn">
                            <a href="#" class="up-btn"><img src="/img/icon/ic_keyboard_arrow_up_black_24px.svg" alt=""></a>
                        </div>
                        <div class="book-stories">
                            <div class="book-story-slide">
                                <% for(var j=0;j<historydata[i].Story.length;j++){%>
                                <div>
                                    <a href="/story/<%=historydata[i].Story[j].Story_No%>" class="story-title f-empha"><%=historydata[i].Story[j].Story_Title%></a>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <div class="btn">
                            <a href="#" class="down-btn"><img src="/img/icon/ic_keyboard_arrow_down_black_24px.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
            <%}%>

            <div class="last-book"></div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/popover.js"></script>
        <script src="/js/slide.js"></script>

        <script>
            $('.add').click(function () {
                $('.last-book').before('<div class="a-book" style="display: none;">' +
                    '                <div class="book-slide now-setting">' +
                    '                    <div class="book-setting book-item">' +
                    '                        <div class="book-header">' +
                    '                            <div class="book-title f-title">Setting</div>' +
                    '                            <div>' +
                    '                                <a href="#" class="go-inside"><img src="/img/icon/ic_clear_black_24px.svg" alt=""></a>' +
                    '                            </div>' +
                    '                        </div>' +
                    '                        <div class="modi-no" style="display: none">' +
                    <!--'                            <input class="edit-book-no" value=" ????? " disabled>' +-->
                    '                        </div>' +
                    '                        <div class="modi-title">' +
                    '                            <input class="edit-book-title" type="text" placeholder="Book Title">' +
                    '                        </div>' +
                    '                        <div class="modi-pub">' +
                    '                            <label class="f-sub"><input type="checkbox" style="display: none;">공개</label>' +
                    '                        </div>' +
                    '                        <div class="insert-btn">' +
                    '                            <input type="button" class="edit-book-btn f-sub" value="save">' +
                    '                            <input type="button" class="f-sub cls" value="cancel">' +
                    '                        </div>' +
                    '                        <br>' +
                    '                        <div class="delete">' +
                    '                            <label><input type="button" style="display: none;">' +
                    '                                <span class="typ f-sub">삭제</span>' +
                    '                                <span class="del-nav f-subSmall" style="font-size: .9rem; display: none;">history를 모두 삭제해야 합니다.</span>' +
                    '                            </label>' +
                    '                        </div>' +
                    '                    </div>' +
                    '                    <div class="book-inside book-item">' +
                    '                        <div class="book-header">' +
                    <!--'                            <div class="book-title f-title"> </div>' +-->
                    '                            <div class="active">' +
                    '                                <a href="#" class="go-setting"><img src="/img/icon/ic_settings_black_24px.svg" alt=""></a>' +
                    '                            </div>' +
                    '                        </div>' +
                    '                        <div class="btn">' +
                    '                            <a href="#" class="up-btn"><img src="/img/icon/ic_keyboard_arrow_up_black_24px.svg" alt=""></a>' +
                    '                        </div>' +
                    '                        <div class="book-stories">' +
                    '                            <div class="book-story-slide">' +
                    '                            </div>' +
                    '                        </div>' +
                    '                        <div class="btn">' +
                    '                            <a href="#" class="down-btn"><img src="/img/icon/ic_keyboard_arrow_down_black_24px.svg" alt=""></a>' +
                    '                        </div>' +
                    '                    </div>' +
                    '                </div>' +
                    '            </div>');
                $('.a-book:last').slideDown();
            });

        </script>

        <script>
            // 제목을 통한 filtering 기능
            $('.title-search-enter').click(function () {
                var txt = $(this).parent().parent().find('.title-search input').val();
                for(var i=0; i<$('.book-story-slide .story-title').length; i++) {
                    if(!$('.book-story-slide .story-title:eq('+ i +')').is(':contains('+ txt +')')) {
                        $('.book-story-slide .story-title:eq('+ i +')').fadeOut();
                    }else{
                        $('.book-story-slide .story-title:eq('+ i +')').fadeIn();
                    }
                }
            });
            // Click on enter, focusOut
            $('.title-search').keydown(function () {
                if(event.keyCode === 13) {
                    $(this).next().trigger('click');
                }
            });
            $('.title-search').focusout(function () {
                $(this).next().trigger('click');
            });

            $('.edit-book-btn').click(function () {
                var book_setting=$(this).parent().parent()
                var Book_No=book_setting.find('.edit-book-no').val();
                var Book_Title=book_setting.find('.edit-book-title').val();
                var Book_Public=book_setting.find('.edit-book-public').is(":checked") ? 0:1;
                var editbook={
                    Book_No:Book_No,
                    Book_Title:Book_Title,
                    Book_Public:Book_Public
                };
                if($('.modi-title input').val() === "") {
                    event.preventDefault();
                    $(this).parent().parent().parent().find('.modi-title').fadeToggle('fast').fadeToggle('fast');
                }else{
                    $.ajax({
                        url:"/update_book_info",
                        type:"post",
                        data: editbook,
                        success:function (data) {
                            console.log(data);
                            if(data){
                                location.replace('/history');
                            }else{
                                alert('오류 발생');
                                location.replace('/history');
                            }

                        }
                    });
                }
            })

        </script>

        <script>
            // marquee 붙이기 - book title
            $('.book-header').hover(function () {
                for(var i=0; i<$('.book-header').length; i++) {
                    $('.book-header .book-title-container div:eq('+ i +')').removeClass('marquee');
                }
                if($(this).find('.book-title-container div span').width() > 170 ) {
                    $(this).find('.book-title-container div').toggleClass('marquee');
                }
            }, function () {
                for(var i=0; i<$('.book-header').length; i++) {
                    $('.book-header .book-title-container div:eq('+ i +')').removeClass('marquee');
                }
            });

            $(document).ready(function () {
                for(var i=0; i<$('.book-story-slide .story-title').length; i++) {
                    if($('.book-story-slide .story-title').eq(i).height() > 25) {
                        var temp = $('.book-story-slide .story-title').eq(i);
                        $('.book-story-slide .story-title').eq(i).after('' +
                            '<div class="story-title-container">' +
                            '   <div>' +
                                '</div>' +
                            '</div>')
                        $('.book-story-slide .story-title').eq(i).next().find('div').append(temp);
                    }
                }
            });
            // marquee 붙이기 - book의 story title
            $(document).on('mouseover', '.story-title-container', function () {
                for(var i=0; i<$('.story-title-container a').length; i++) {
                    $('.book-story-slide .story-title-container div:eq('+ i +')').removeClass('marquee');
                }
                if($(this).find('div a').width() > 230 ) {
                    $(this).find('div').toggleClass('marquee');
                }
            });
            $(document).on('mouseout', '.story-title-container a', function () {
                for(var i=0; i<$('.story-title-container a').length; i++) {
                    $('.book-story-slide .story-title-container div:eq('+ i +')').removeClass('marquee');
                }
            });

        </script>

    </body>

</html>