<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Story4Action</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.css">
    <script src="https://cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>

</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <div class="nav">
        <div class="logo"><a href="/action" class="f-logo"><img src="/img/logo/logo.png">Story</a></div>
        <ul class="menu">
            <li><a href="/action" class="f-menu">Action</a></li>
            <li><a href="/history" class="f-menu">History</a></li>
            <li><a href="explore.ejs" class="f-menu">Explore</a></li>
            <li><a href="setting.ejs" class="f-menu">Setting</a></li>
        </ul>
    </div>

    <div class="container">
        <!--왼쪽-->
        <div class="left">
            <!--메인페이지-->
            <div class="left-top">
                <a class="f-basic arg_" style="opacity: 0.01;">ARG</a>
            </div>
            <div class="page-list">
                <!--예시-->
                <!--<div class="date f-subSmall">2017.00.00</div>-->
                <!--<div class="page"> <div class="img-box"> img max size </div> <mark>Lorem amet, consectetur adipisicing elit.</mark> Ullam temporibus harum at, totam similique vitae minima est explicabo recusandae a id illum ea, error cupiditate odio facere amet adipisci praesentium?</div>-->
                <!--<div class="page"> <div class="link-box"> <span class="f-empha">link title</span> <span >short imformation</span> <span class="f-subSmall">link URL</span> </div> <mark>Lorem ipsum dolor sit amet, consectetur adipisicing facere quaerat itaque elit.</mark> Laboriosam p!</div>-->
                <!--<div class="page"> <div class="quot-box f-title"> Quotation box is look like this! <span class="f-sub"> <br> - Ha Dongho</span> </div> <mark>Lorem ipsum dolor sit amet, consectetur elit.</mark> Quia</div>-->
                <!--<div class="date f-subSmall">2017.00.00</div>-->
                <!--<div class="page"> <mark>Lorem ipsum dolor.</mark>  Ullam temporibus harum at, totam similique vitae minima est explicabo recusandae a id illum ea, error cupiditate odio facere amet adipisci praesentium?</div>-->
                <!--<hr class="hr-page">-->
                <!--본문-->
                <% if(page[0].Page_No !== undefined){%>
                    <!--페이지의 마지막 값 Page_Done이 1일때 즉 Story가 Done되었을때 마지막-1 까지만 반복한다-->
                    <% for(var i=0; i< ((page[page.length-1].Page_Done===1) ? (page.length-1) : (page.length));i++){%>
                <% if(i===0 ? true : page[i-1].Page_UpdateDate.getDate() !== page[i].Page_UpdateDate.getDate()){%>
                <div class="date f-subSmall"><%=page[i].Page_UpdateDate.toISOString().slice(0, 10) %></div>
                <%}%>
                <div class="page">
                        <% if(page[i].Imgdata[0] !== undefined) { %>
                    <div class="img-box">
                        <button class="to-left"><img src="/img/icon/ic_keyboard_arrow_left_black_24px.svg"></button>
                                <!--추후에 페이지 수정시 이미지의 Image_No, No가 필요한 상황이 올수도 있다 그때 추가해줄것-->
                            <% for(var j=0; j<page[i].Imgdata.length;j++){%>
                                <% if(j===0){%>
                        <img class="active" style="max-height:100%;max-width: 100%" src="<%=page[i].Imgdata[j].Image_Path %>">
                                <%}else{%>
                        <img class="hidden" style="max-height:100%;max-width: 100%" src="<%=page[i].Imgdata[j].Image_Path %>">
                                <%}%>
                            <%}%>
                        <button class="to-right"><img src="/img/icon/ic_keyboard_arrow_right_black_24px.svg"></button>
                    </div>
                        <%}%>
                        <%- page[i].Page_Content%>
                </div>
                        <% if(page[i].Page_Last==1 || page[page.length-2].Page_Done===1){%>
                        <%}else{%>
                            <hr class="hr-page">
                        <%}%>
                    <%}%>
                    <%if(page[page.length-1].Page_Done===1){%>

                    <%}%>

                <%}%>
            </div>

            <!--done을 했을 경우 보여지는 곳-->
            <%if(page[0].Page_No){%>
                <%if(page[page.length-1].Page_Done===1){%>
                <div class="page-list">
                    <div class="date f-subSmall"><%=page[page.length-1].Page_UpdateDate.toISOString().slice(0, 10) %></div>
                    <div class="last-page">
                        <% if(page[page.length-1].Imgdata[0] !== undefined) { %>
                        <div class="img-box">
                            <button class="to-left"><img src="/img/icon/ic_keyboard_arrow_left_black_24px.svg"></button>
                            <!--추후에 페이지 수정시 이미지의 Image_No, No가 필요한 상황이 올수도 있다 그때 추가해줄것-->
                            <% for(var j=0; j<page[page.length-1].Imgdata.length;j++){%>
                            <% if(j===0){%>
                            <img class="active" style="max-height:100%;max-width: 100%" src="<%=page[page.length-1].Imgdata[j].Image_Path %>">
                            <%}else{%>
                            <img class="hidden" style="max-height:100%;max-width: 100%" src="<%=page[page.length-1].Imgdata[j].Image_Path %>">
                            <%}%>
                            <%}%>
                            <button class="to-right"><img src="/img/icon/ic_keyboard_arrow_right_black_24px.svg"></button>
                        </div>
                        <%}%>
                        <%- page[page.length-1].Page_Content%>
                    </div>
                </div>
                <%}%>
            <%}%>
            <!--TODO 마지막 페이지 구현은 Story_Done이 있다면 length-1 없다면 length 로 돌리는 삼항연산자를 이용해보도록하자-->

            <!--마지막페이지 예시-->
            <!--<div class="page-list">-->
                <!--<div class="date f-sub">2017.00.00</div>-->
                <!--<div class="last-page"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo maxime recusandae libero sint tenetur dolorem, dolorum eligendi. Molestias qui minima odit officiis quae. Quaerat aperiam, ipsam magni delequod</div>-->
            <!--</div>-->
            <!--글쓰기-->
            <div class="page-list page-write">
                <form id="new-page" action="/insert_page" method="post" enctype="multipart/form-data">
                    <!--에디터-->
                    <input type="hidden" name="Story_No"
                           value="<%=Story_No%>">
                    <div class="textarea"><textarea name="Page_Content" id="editor1"></textarea></div>
                    <div class="footer">
                        <!--TODO 첨부 누르면 파일 첨부창 보이도록하기-->
                        <label class="f-sub"><input type="file" name="Page_Image" id="page-img" multiple style="display: none;">Image</label>
                        <label class="f-sub"><input type="button" id="page-link" style="display: none;">Link</label>
                        <label class="f-sub"><input type="submit" style="display: none;">Submit</label>
                    </div>
                </form>
                <!--에디터 표시 스크립트-->
                <script>
                    CKEDITOR.replace('editor1');
                </script>
            </div>
        </div>
        <!--오른쪽-->
        <div class="right">
            <div class="aside">
                <div class="infor">
                    <%if(page !== null) {%>
                    <div class="book-name f-subSmall"><%=page[0].Book_Title%></div>
                    <div class="story-name f-empha" ><%=page[0].Story_Title%></div>
                    <div class="date f-subSmall"><%=page[0].Story_DateStart.toISOString().slice(0, 10)%></div>
                    <hr class="hr-infor">
                    <div class="score">
                        <div class="score-num citation f-subSmall">Page Citation
                            <div class="citation-num f-empha">6</div>
                        </div>
                    </div>
                    <hr class="hr-infor">
                    <div class="story-setting">
                        <!--story name과 public을 변경-->
                        <button id="change-story-infor" class="f-basic">Edit history information</button>

                        <hr class="hr-infor">
                        <button id="done-btn" class="f-basic">Done this story</button>
                        <button id="delete-btn" class="f-basic">Delete this story</button>
                    </div>
                    <%}%>
                </div>
            </div>
            <div class="footer f-subSmall">
                <!--TODO: 서비스 이용에 대한 네비게인션이 있으면 좋겠지만 추후에 구현하도록 한다.-->
                END 키를 이용해서 마지막 페이지로 이동 <br>
                Company Infor
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/attchment.js"></script>
    <script src="/js/aside.js"></script>
    <script>

        $("#new-page").submit(function () {
            event.preventDefault();
            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();
            var str = CKEDITOR.instances.editor1.getData();
            var str_where=[str.indexOf('.'), str.indexOf('!'), str.indexOf('?')].sort(function
                compNumber(a, b) {
                return a - b;
            });
            var end = -1;
            var str_ = [];
            var str_hil;
            var formData = new FormData(this);

            // 멈출 곳 찾기
            for(var i=0; i<str_where.length; i++) {
                if(str_where[i] >= 0) {
                    end = str_where[i];
                    break;
                }
            }
            // 멈출 곳을 이용해서 첫 문장 추출
            if(end > 0){
                str_[0] = str.substring(0, 3);
                str_[1] = str.substring(3, end+1);
                str_[2] = str.substring(end+1);
                str_hil = str_[0] + "<mark>" + str_[1] + "</mark>" +str_[2];
            } else {
                str_[0] = str.substring(0, 3);
                str_[1] = str.substring(3, str.length -4);
                str_[2] = str.substring(str.length -4);
                str_hil = str_[0] + "<mark>" + str_[1] + "</mark>" +str_[2];
            }

//            console.log(str_hil);

            $.ajax({
                url:"/insert_page",
                type:"post",
                data:formData,
                success:function (data) {
                    if(data.result){
                        alert('성공적으로 삽입되었습니다!');
                        location.replace(data.url);
                    }else{
                        alert('데이터가 삽입되지 않았습니다')
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
            return false;
        });
//        CK업데이트 혹시 필요할 지도 몰라 주석
//        function CKupdate(){
//            for ( instance in CKEDITOR.instances )
//                CKEDITOR.instances[instance].updateElement();
//        }

// img의 경우 padding 주기
        $(document).ready(function () {
            for(var i=0; i<$('.page').length; i++) {
                if($('.page').eq(i).has('img').length > 0) {
                    $('.page').eq(i).css( 'padding-top', '28px' );
                }
            }
        });

        $(document).on('click', '.to-right', function () {
           $(this).find('img').trigger('click');
        });

    </script>

</body>

</html>