<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Story4Action</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.css">
    <script src="https://cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>

</head>

<body>

    <div class="nav">
        <div class="logo"><a href="/action" class="f-logo"><img src="/img/logo/logo.png">Story</a></div>
        <ul class="menu">
            <li><a href="/action" class="f-menu">Action</a></li>
            <li><a href="/history" class="f-menu">History</a></li>
            <li><a href="/explore" class="f-menu">Explore</a></li>
            <li><a href="/setting" class="f-menu">Setting</a></li>
        </ul>
    </div>

    <div class="container">
        <!--왼쪽-->
        <div class="left">
            <!--메인페이지-->
            <div class="left-top">
                <a class="f-basic arg_" style="opacity: 0.01;">ARG</a>
            </div>
            <div class="page-list">
                <!--예시-->
                <!--<div class="date f-subSmall">2017.00.00</div>-->
                <!--<div class="page"> <div class="img-box"> img max size </div> <mark>Lorem amet, consectetur adipisicing elit.</mark> Ullam temporibus harum at, totam similique vitae minima est explicabo recusandae a id illum ea, error cupiditate odio facere amet adipisci praesentium?</div>-->
                <!--<div class="page"> <div class="link-box"> <span class="f-empha">link title</span> <span >short imformation</span> <span class="f-subSmall">link URL</span> </div> <mark>Lorem ipsum dolor sit amet, consectetur adipisicing facere quaerat itaque elit.</mark> Laboriosam p!</div>-->
                <!--<div class="page"> <div class="quot-box f-title"> Quotation box is look like this! <span class="f-sub"> <br> - Ha Dongho</span> </div> <mark>Lorem ipsum dolor sit amet, consectetur elit.</mark> Quia</div>-->
                <!--<div class="date f-subSmall">2017.00.00</div>-->
                <!--<div class="page"> <mark>Lorem ipsum dolor.</mark>  Ullam temporibus harum at, totam similique vitae minima est explicabo recusandae a id illum ea, error cupiditate odio facere amet adipisci praesentium?</div>-->
                <!--<hr class="hr-page">-->
                <!--본문-->
                <% if(page[0].Page_No !== undefined){%>
                    <!--페이지의 마지막 값 Page_Done이 1일때 즉 Story가 Done되었을때 마지막-1 까지만 반복한다-->
                    <% for(var i=0; i< ((page[page.length-1].Page_Done===1) ? (page.length-1) : (page.length));i++){%>
                <% if(i===0 ? true : page[i-1].Page_UpdateDate.getDate() !== page[i].Page_UpdateDate.getDate()){%>

                <div class="date f-subSmall"><%=page[i].Page_UpdateDate.toLocaleDateString() %></div>
                <%}%>
                <div class="page">
                        <% if(page[i].Imgdata[0] !== undefined) { %>
                    <div class="img-box">
                        <button class="to-left"><img src="/img/icon/ic_keyboard_arrow_left_black_24px.svg"></button>
                                <!--추후에 페이지 수정시 이미지의 Image_No, No가 필요한 상황이 올수도 있다 그때 추가해줄것-->
                            <% for(var j=0; j<page[i].Imgdata.length;j++){%>
                                <% if(j===0){%>
                        <img class="active" style="max-height:100%;max-width: 100%" src="<%=page[i].Imgdata[j].Image_Path %>">
                                <%}else{%>
                        <img class="hidden" style="max-height:100%;max-width: 100%" src="<%=page[i].Imgdata[j].Image_Path %>">
                                <%}%>
                            <%}%>
                        <button class="to-right"><img src="/img/icon/ic_keyboard_arrow_right_black_24px.svg"></button>
                        <!--<div class="img-num"></div>-->
                    </div>
                        <%}%>
                    <!--FIXME 링크 조건 null undefined "" 안해서 문제 발생소지?-->
                        <%if(page[i].Page_Link !== null && page[i].Page_Link !== "" && page[i].Page_Link !==undefined){%>
                    <div class="link-box">
                        <span class="f-empha">link title</span>
                        <span>short imformation</span>
                        <span class="f-subSmall"><%=page[i].Page_Link%></span>
                    </div>
                        <%}%>
                    <div class="txt-container">
                        <%- page[i].Page_Content%>
                    </div>
                </div>
                        <% if(page[i].Page_Last==1 || page[page.length-2].Page_Done===1){%>
                        <%}else{%>

                        <%}%>
                    <%}%>
                    <%if(page[page.length-1].Page_Done===1){%>

                    <%}%>

                <%}%>
            </div>

            <!--done을 했을 경우 보여지는 곳-->
            <%if(page[0].Page_No){%>
                <%if(page[page.length-1].Page_Done===1){%>
                <div class="page-list">
                    <div class="date f-subSmall"><%=page[page.length-1].Page_UpdateDate.toLocaleDateString() %></div>
                    <div class="last-page">
                        <% if(page[page.length-1].Imgdata[0] !== undefined) { %>
                        <div class="img-box">
                            <button class="to-left"><img src="/img/icon/ic_keyboard_arrow_left_black_24px.svg"></button>
                            <!--추후에 페이지 수정시 이미지의 Image_No, No가 필요한 상황이 올수도 있다 그때 추가해줄것-->
                            <% for(var j=0; j<page[page.length-1].Imgdata.length;j++){%>
                            <% if(j===0){%>
                            <img class="active" style="max-height:100%;max-width: 100%" src="<%=page[page.length-1].Imgdata[j].Image_Path %>">
                            <%}else{%>
                            <img class="hidden" style="max-height:100%;max-width: 100%" src="<%=page[page.length-1].Imgdata[j].Image_Path %>">
                            <%}%>
                            <%}%>
                            <button class="to-right"><img src="/img/icon/ic_keyboard_arrow_right_black_24px.svg"></button>
                        </div>
                        <%}%>
                        <%- page[page.length-1].Page_Content%>
                    </div>
                </div>
                <%}%>
            <%}%>
            <!--TODO 마지막 페이지 구현은 Story_Done이 있다면 length-1 없다면 length 로 돌리는 삼항연산자를 이용해보도록하자-->

            <!--마지막페이지 예시-->
            <!--<div class="page-list">-->
                <!--<div class="date f-sub">2017.00.00</div>-->
                <!--<div class="last-page"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo maxime recusandae libero sint tenetur dolorem, dolorum eligendi. Molestias qui minima odit officiis quae. Quaerat aperiam, ipsam magni delequod</div>-->
            <!--</div>-->
            <!--글쓰기-->
            <div class="page-list page-write">
                <form id="new-page" action="/insert_page" method="post" enctype="multipart/form-data">
                    <!--에디터-->
                    <input type="hidden" name="Story_No"
                           value="<%=Story_No%>">
                    <div class="textarea"><textarea name="Page_Content" id="editor1"></textarea></div>
                    <div class="add-box" class="story-list" oncontextmenu="return true" ondragstart="return true" onselectstart="return true">
                        <div class="add-img" style="display: none;">
                            <!--<input class="upload-name" value="Image 저장" disabled="disabled" style="width: 659px;">-->
                            <input type="file" name="Page_Image" id="page-img" multiple style="display: none;">
                            <div class="upload-img-box"></div>
                        </div>
                        <div class="add-link" style="display: none;"><input type="text" placeholder="URL/Link 저장" name="Page_Link" id="page-link"></div>
                    </div>
                    <div class="sub-nav f-sub" style="display: none;">Text를 입력해야 합니다.</div>
                    <div class="footer">
                        <!--TODO 첨부 누르면 파일 첨부창 보이도록하기-->
                        <label class="f-sub" for="page-img">Image</label>
                        <label class="f-sub" for="page-link">Link</label>
                        <label class="f-sub"><input type="submit" style="display: none;">Submit</label>
                        <input type="checkbox" class="edit-check" style="display: none;">
                    </div>
                </form>
                <!--에디터 표시 스크립트-->
                <script>
                    CKEDITOR.replace('editor1');
                </script>
            </div>
        </div>
        <!--오른쪽-->
        <div class="right">
            <div class="aside">
                <div class="infor">
                    <%if(page !== null) { %>
                    <div class="book-name f-subSmall"><%=page[0].Book_Title%></div>
                    <div class="story-name f-empha" ><%=page[0].Story_Title%></div>
                    <div class="date f-subSmall"><%=page[0].Story_DateStart.toLocaleDateString()%></div>
                    <hr class="hr-infor">
                    <div class="score">
                        <div class="score-num citation f-subSmall">Page Citation
                            <div class="citation-num f-empha">6</div>
                        </div>
                    </div>
                    <hr class="hr-infor">
                    <div id="insert-changing" style="display: none;">
                        <select name="chng-book" id="chng-book"></select>
                        <div id="edit-story-no" style="display: none"><%=Story_No%></div>
                        <input name="edit-story-title" type="text" value="<%=page[0].Story_Title%>">
                        <label class="f-subSmall"><input type="checkbox" style="display: none;">공개</label>
                        <div class="insert-btn">
                            <input id="edit-story-btn" type="button" class="f-subSmall" value="save">
                            <input type="button" class="f-subSmall" value="cancel">
                        </div>
                    </div>
                    <div class="story-setting">
                        <!--story name과 public을 변경-->
                        <button id="change-story-infor" class="f-basic">Edit information</button>
                        <hr class="hr-infor">
                        <button id="done-btn" class="f-basic">Done this story</button>
                        <button id="delete-btn" class="f-basic">Delete this story</button>
                    </div>
                    <%}%>
                </div>
            </div>
            <div class="footer f-subSmall">
                <!--TODO: 서비스 이용에 대한 네비게인션이 있으면 좋겠지만 추후에 구현하도록 한다.-->
                END 키를 이용해서 마지막 페이지로 이동 <br>
                백승현 k206104@naver.com <br>
                장정호 jjhh3079@gmail.com <br>
                하동호 dongho9601@gmail.com
            </div>
        </div>
    </div>

    <div class="closeup">
        <div class='story-done'>
            <div class="f-menu">The Last Page</div>
            <a href='#' id='story-done-close'><img src='/img/icon/ic_clear_black_24px.svg'></a>
            <div class="textarea"><textarea name="" id="editor2" style="resize: none;"></textarea></div>
            <div class="add-box">
                <div class="add-img" style="display: none;">
                    <input class="upload-name" value="Image 저장" disabled="disabled" style="width: 680px;">
                    <input type="file" name="Page_Image" id="page-img" multiple style="display: none;">
                </div>
                <div class="add-link" style="display:none;">
                    <input type="text" placeholder="URL/Link 저장" name="Page_Link" id="page-link">
                </div>
            </div>
            <div class="footer">
                <!--TODO 첨부 누르면 파일 첨부창 보이도록하기-->
                <label class="f-sub" for="page-img">Image</label>
                <label class="f-sub" for="page-link">Link</label>
                <label class="f-sub"><input type="submit" style="display: none;">Submit</label>
            </div>
            <div class="sub-nav f-sub" style="display: none;">Text를 입력해야 합니다.</div>
            <script>
                CKEDITOR.replace('editor2', {
                    height: 350
                });
            </script>
        </div>

        <!--스토리를 지우는 부분-->
        <div class='story-delete'>
            <a href='#' id='story-delete-close'><img src='/img/icon/ic_clear_black_24px.svg'></a>
            <!--TODO: 삭제하는 story의 story name을 받아와야 한다.-->
            <form id="story-delete">
                <div id="page-del-story-no" style="display: none"><%=Story_No%></div>
                <p class="del-nav">"<span class="f-empha del-name"><%=page[0].Story_Title%></span>"를 입력하세요.</p>
                <input type="text" id="confirm" placeholder="confirm massage">
                <input type="submit">
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/attachment.js"></script>
    <script src="/js/aside.js"></script>
    <script src="/js/closeup.js"></script>
    <script>
//      Editor submit
        $("#new-page").submit(function () {
            event.preventDefault();
            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();
            var str = CKEDITOR.instances.editor1.getData();
            var str_where=[str.indexOf('.'), str.indexOf('!'), str.indexOf('?')].sort(function
                compNumber(a, b) {
                return a - b;
            });
            var end = -1;
            var str_ = [];
            var str_hil;
            var formData = new FormData(this);

            // 멈출 곳 찾기
            for(var i=0; i<str_where.length; i++) {
                if(str_where[i] >= 0) {
                    end = str_where[i];
                    break;
                }
            }
            // 멈출 곳을 이용해서 첫 문장 추출
            if(end > 0){
                str_[0] = str.substring(0, 3);
                str_[1] = str.substring(3, end+1);
                str_[2] = str.substring(end+1);
                str_hil = str_[0] + "<mark>" + str_[1] + "</mark>" +str_[2];
            } else {
                str_[0] = str.substring(0, 3);
                str_[1] = str.substring(3, str.length -4);
                str_[2] = str.substring(str.length -4);
                str_hil = str_[0] + "<mark>" + str_[1] + "</mark>" +str_[2];
            }

            formData.delete('Page_Content');
            formData.append('Page_Content', str_hil);

//            alert("---" + str_hil + "---");
            if(!(str_hil === "<mark></mark>")) {
                $.ajax({
                    url:"/insert_page",
                    type:"post",
                    data:formData,
                    success:function (data) {
                        if(data.result){
//                            alert('성공적으로 삽입되었습니다!');
                            location.replace(data.url);
                        }else{
                            alert('데이터가 삽입되지 않았습니다')
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                return false;
            } else {
                $(this).find('.sub-nav').slideDown(500).delay(1500).slideUp(500);
            }
        });
//      img의 경우 padding 주기
        $(document).ready(function () {
            for(var i=0; i<$('.page').length; i++) {
                if($('.page').eq(i).has('img').length > 0) {
                    $('.page').eq(i).css( 'padding-top', '28px' );
                }
            }
        });
//      link style 조정
        $(document).ready(function () {
            for(var i=0; i<$('.page').length; i++) {
                if($('.page').eq(i).has('.link-box').length > 0) {
                    $('.page').eq(i).find('.link-box').css( 'margin-bottom', '7px' );
                }
            }
        });

//      Edit page
        $(document).on('click', '.story-setting #page-edit', function () {

            // 최근 page의 text를 받아온다.
            var txt = $('.page:last .txt-container').html();
            CKEDITOR.instances.editor1.setData(txt);

            // Cancel Editing과 자리를 바꾼다.
            $('.story-setting #page-edit').slideUp('fast', function () {
                $('.story-setting #cancel-edit').delay(150).slideDown();
            });

            // img를 받아온다.
            if($('.page:last-child .img-box>img').length != 0) {
                $('.page-write .add-box .add-img').slideDown(250, function () {
                    $('.page-write .upload-img-box').empty();
                    for(var i=0; i<$('.page:last-child .img-box>img').length; i++) {
                        if($('.page-write .upload-img-box img').length == 0) {
                            $('.page-write .upload-img-box').append('' +
                                '<img class="upload-img" src=' + $(".page:last-child .img-box>img:eq(" + i + ")").attr("src") + '>' +
                                ''
                            );
                        }else {
                            $('.page-write .upload-img-box').append('' +
                                '<div class="img-space"> </div>' +
                                '<img class="upload-img" src=' + $(".page:last-child .img-box>img:eq(" + i + ")").attr("src") + '>' +
                                ''
                            );
                        }
                    }
                });
            }

            // link를 받아온다.
            if($('.page:last-child .link-box').length != 0) {
                var linkUrl = $('.page:last-child .link-box span:last-child').text();
                $('.add-box .add-link').slideDown();
                $('.add-box .add-link #page-link').val(linkUrl);
            }

        });

//      Cancel Editing
        $(document).on('click', '.story-setting #cancel-edit', function () {
            location.reload();
        })

//      Edit Story
        $("#edit-story-btn").click(function () {
            var storydata={
                Book_No:$('#chng-book').find('option:selected').val(),
                Story_No:$('#edit-story-no').html(),
//                체크가 되어있으면 비공개, 체크가 안되어있으면 공개
                Story_Title:$('input:text[name="edit-story-title"]').val(),
                Story_Public:$('input:checkbox[name="story-public"]').is(":checked") ? 0:1,
            }
            var currenturl = window.location.href;
            console.log(storydata);
            $.ajax({
                url:"/update_story_info",
                type:"post",
                data:storydata,
                success:function (data) {
                    if(data) {
                        location.replace(currenturl);
                    }else{
                        alert('오류발생');
                        location.replace(currenturl);
                    }
                }
            })
        })

        $("#story-delete").submit(function () {
            event.preventDefault();
            var del_story_no={
                Story_No:$('#page-del-story-no').html()
            };
            $.ajax({
                url:"/delete_story",
                type:"post",
                data:del_story_no,
                success:function (result) {
                    if(result){
//                        alert('성공적으로 삭제되었습니다');
                        location.replace('/action');
                    }else{
                        alert('일시적으로 오류가 발생했습니다');
                        location.replace('/action');
                    }
                }
            })
            return false;
        })
    </script>

    <script>
//      link crawling
    $(document).ready(function () {
//        var cheerio = require('cheerio');
//        var rest = require("restler");

    });
    </script>

</body>

</html>